################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/OdeToFood/OdeToFood/bin/Debug/netcoreapp3.1
