################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/OdeToFood/OdeToFood/bin/Debug/netcoreapp3.1
/OdeToFood/OdeToFood/obj
*.user
/OdeToFood/OdeToFood/Properties
/OdeToFood/.vs/OdeToFood
/OdeToFood/OdeToFood.Core/obj
