@page "{id}"
@model OdeToFood.DeleteModel
@{
    ViewData["Title"] = "Delete";
}

<h2>Delete!</h2>

<div class="alert alert-danger">
    Are you sure you want to delete @Model.Restaurant.Name?
</div>

<form method="post">

    <button type="submit" name="delete" class="btn btn-danger" value="">
        Yes
    </button>

    <a asp-page="List" class="btn btn-primary">Cancel</a>
</form>